<html>
  <head>
    <title>Hello world!</title>
  </head>
  <body>
    <h1>Hello world!</h1>
    <h2>Greeting</h2>
    <% form_tag "/say_hello/hello_world" do %>
      <%= text_field_tag :greeting %>
      <%= submit_tag "Greeting" %>
    <% end %>
    <%= @greeting %>
  </body>
</html>